:root {
    --input: #F39803;
    --labels: #FCA311;
    --bg: #2F4D8A;
    --inputText: #2F4D8A;
    --hover: #213358;
    --hoverText: #FCA311;
}

.count {
    font-size: 100px;
    font-weight: 100;
    color: var(--labels);
    font-family: 'Courier New', Courier, monospace;
}


.confetti-btn {
    background-color: var(--labels);
    padding: 10px 30px;
    cursor: grab;
    font-size: 70px;
    border: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #233A6A;
}

.countdown-content {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.register-btn {
    text-align: center;
    color: var(--input);
    padding: 5px;
    cursor: grab;
}