.error,
.not-found {
    background-color: red;
    color: #14213D;
    display: block;
    text-align: center;
}

.error-page-link {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}