@font-face {
    font-family: 'martian';
    src: url(../fonts/martian/MartianMono-VariableFont_wdth\,wght.ttf);
}

:root {
    --input: #F39803;
    --labels: #FCA311;
    --bg: #2F4D8A;
    --inputText: #2F4D8A;
    --hover: #213358;
    --hoverText: #FCA311;
}

body {
    margin: 0;
    /* color: #FCA311; */
    background-color: var(--bg);
    scroll-behavior: smooth;
    line-height: 30px;
}

.flex_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,
h2 {
    font-family: 'martian';
    font-size: 20px;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: var(--labels);
    color: var(--inputText);
    width: fit-content;
    border-radius: 4px;

}

button {
    text-align: center;
    color: var(--inputText);
    background-color: var(--input);
    padding: 5px;
    width: 100px;
    cursor: grab;
}

button:hover {
    color: var(--input);
    background-color: var(--hover);
}