h2, h4, h5 {
    text-align: center;
}

.reviewRace {
    text-align: center;
}

.register {
    text-align: center;
}

.raceComment {
    text-align: center;
}

button {
    display: block;
    margin: 0 auto; 
}

.horizontal-list {
    text-align: center;
    white-space: nowrap; 
    overflow-x: auto;
}

.horizontal-list p {
    display: inline; 
    margin: 0 5px;
}