
:root {
    --input: #F39803;
    --labels: #FCA311;
    --bg: #2F4D8A;
    --inputText: #2F4D8A;
    --hover: #213358;
    --hoverText: #FCA311;
}

body {
    margin: 0;
    /* color: #FCA311; */
    background-color: var(--bg);
    scroll-behavior: smooth;
    line-height: 30px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

h1 {
     font-family:'Courier New', Courier, monospace;
    font-size: 30px;
}

h2 {
     font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    color: var(--bg);
    background-color: var(--input);
    width: fit-content;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;

}

a {
     font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    color: var(--input)
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
}

li {
    text-align: center;
    display: inline-block;

}

button {
    text-align: center;
    color: var(--inputText);
    /* border-radius: 4px; */
    background-color: var(--input);
    padding: 5px;
    width: 100px;
    cursor: grab;
}

button:hover {
    color: var(--input);
    background-color: var(--hover);
}

.state {
    color: var(--bg);
    background-color: var(--input);
    padding: 10px;
    width: fit-content;

}