h2,
h4,
h5 {
    text-align: center;
}

.reviewRace {
    text-align: center;
}

.register {
    text-align: center;
}

.raceComment {
    text-align: center;
}

button {
    display: block;
    margin: 0 auto;
}

.horizontal-list {
    text-align: center;
    line-height: 2;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
}

.horizontal-list p {
    display: inline;
    margin: 5px;
}