<form method="POST" id='flex_container' class=' flex_container' action="/race/addrace">
    <!--Name-->
    <label for="raceName" class="raceName">RACE NAME</label><br><br>
    <input type="text" name="raceName" id="raceName" class="raceName"><br><br>
    <!--city-->
    <label for="raceCity" class="raceCity">RACE CITY</label><br><br>
    <input type="text" name="raceCity" id="raceCity" class="raceCity"><br><br>
    <!--state-->
    <label for="raceState">RACE STATE</label><br><br>
    <select name="raceState" id="raceState" class="raceState">
        <option value="placeholder" selected>CLICK TO SELECT</option>
        <option value="AL">AL</option>
        <option value="AK">AK</option>
        <option value="AZ">AZ</option>
        <option value="AR">AR</option>
        <option value="CA">CA</option>
        <option value="CO">CO</option>
        <option value="CT">CT</option>
        <option value="DE">DE</option>
        <option value="DC">DC</option>
        <option value="FL">FL</option>
        <option value="GA">GA</option>
        <option value="HI">HI</option>
        <option value="ID">ID</option>
        <option value="IL">IL</option>
        <option value="IN">IN</option>
        <option value="IA">IA</option>
        <option value="KS">KS</option>
        <option value="KY">KY</option>
        <option value="LA">LA</option>
        <option value="ME">ME</option>
        <option value="MD">MD</option>
        <option value="MA">MA</option>
        <option value="MI">MI</option>
        <option value="MN">MN</option>
        <option value="MS">MS</option>
        <option value="MO">MO</option>
        <option value="MT">MT</option>
        <option value="NE">NE</option>
        <option value="NV">NV</option>
        <option value="NH">NH</option>
        <option value="NJ">NJ</option>
        <option value="NM">NM</option>
        <option value="NY">NY</option>
        <option value="NC">NC</option>
        <option value="ND">ND</option>
        <option value="OH">OH</option>
        <option value="OK">OK</option>
        <option value="OR">OR</option>
        <option value="PA">PA</option>
        <option value="RI">RI</option>
        <option value="SC">SC</option>
        <option value="SD">SD</option>
        <option value="TN">TN</option>
        <option value="TX">TX</option>
        <option value="UT">UT</option>
        <option value="VT">VT</option>
        <option value="VA">VA</option>
        <option value="WA">WA</option>
        <option value="WV">WV</option>
        <option value="WI">WI</option>
        <option value="WY">WY</option>
    </select><br><br>
    <!--date-->
    <label for="raceDate">RACE DATE</label><br><br>
    <input type="date" id="raceDate" name="raceDate" class="raceDate"><br><br>
    <!--time-->
    <label for="raceTime">RACE TIME</label><br><br>
    <input type="time" name="raceTime" id="raceTime" class="raceTime"><br><br>
    <!--distance-->
    <label for="distance">DISTANCE</label><br><br>
    <select name="distance" id="distance" class="distance">
        <option value="placeholder" selected>CLICK TO SELECT</option>
        <option value="5K">5K</option>
        <option value="Half Marathon">Half Marathon</option>
        <option value="Marathon">Marathon</option>
    </select><br><br>

    <!--terrain-->
    <label for="terrain">TERRAIN</label><br><br>
    <label class="checkboxes"><input type="checkbox" name="terrain" value="Street" id="street">STREET</label><br>
    <label class="checkboxes"><input type="checkbox" name="terrain" value="Grass" id="grass">GRASS</label><br>
    <label class="checkboxes"><input type="checkbox" name="terrain" value="Beach" id="beach">MUDDY</label><br>
    <label class="checkboxes"><input type="checkbox" name="terrain" value="Rocky" id="rocky">ROCKY</label><br>
    <label class="checkboxes"><input type="checkbox" name="terrain" value="Inclined" id="inclined">INCLINED</label><br>
    <label class="checkboxes"><input type="checkbox" name="terrain" value="Muddy" id="muddy">MUDDY</label> <br><br>

    <!--url-->
    <label for="raceUrl">RACE URL</label><br><br>
    <input type="text" name="raceUrl" id="raceUrl" class="raceUrl"><br><br>
    <div class="error" id="error">{{error}}</div><br><br>
    <button type="create">ADD RACE</button>
</form>