<div class="countdown-content">
    <script src="https://cdn.jsdelivr.net/npm/@tsparticles/confetti@3.0.3/tsparticles.confetti.bundle.min.js"></script>
    <!--will get displayed in the following p element-->
    <div>
        <p id="count" class="count"></p>
    </div>
    <br />
    {{#if hasRaces}}
    <button class="confetti-btn" type="button">GET EXCITED!</button>
    <!--Countdown learned from https://www.w3schools.com/howto/howto_js_countdown.asp-->
    <script>
        function triggerConfetti() {
            confetti({
                particleCount: 400,
                spread: 90,
                origin: { x: 1, y: 0.9 },
            });

            confetti({
                particleCount: 400,
                spread: 90,
                origin: { x: 0, y: 0.9 },
            });
        }

        // date counting down to
        let countDownDate = Date.parse(`{{{ raceDate }}}`);
        countdownDate = new Date(countDownDate); // Parse the race date and convert it to milliseconds

        // Update the count down every 1 second
        var intervalId = setInterval(function () {
            // Today's date and time in milliseconds
            let now = new Date().getTime();

            // Distance between now and the countdown date in milliseconds
            let distance = countDownDate - now;

            //console.log(distance);

            // Calculate days, hours, minutes, and seconds
            let days = Math.floor(distance / (1000 * 60 * 60 * 24));
            let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            let seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Update the HTML element with the countdown
            document.getElementById("count").innerHTML = `${days}d ${hours}h ${minutes}m ${seconds}s`;

            // If countdown is finished
            if (distance < 0) {
                clearInterval(intervalId);
                document.getElementById("count").innerHTML = "EXPIRED";
            }
        }, 1000);

        // Add event listener for the confetti button
        let confettiBtn = document.querySelector(".confetti-btn");
        confettiBtn.addEventListener("click", triggerConfetti);
    </script>
    {{else}}
    <p>You are not currently registered for any races.</p>
    <a href="./home.handlebars" class="register-btn">REGISTER NOW!</a>
    {{/if}}
</div>