<div class="countdown-content">
    <script src="https://cdn.jsdelivr.net/npm/@tsparticles/confetti@3.0.3/tsparticles.confetti.bundle.min.js"></script>
    <!--will get displayed in the following p element-->
    <div id="countdowns"></div>
    <br />
    {{#if hasRaces}}
    <button class="confetti-btn" type="button">GET EXCITED!</button>
    <!--Countdown learned from https://www.w3schools.com/howto/howto_js_countdown.asp-->
    <script>
        function triggerConfetti() {
            confetti({
                particleCount: 400,
                spread: 90,
                origin: { x: 1, y: 0.9 },
            });

            confetti({
                particleCount: 400,
                spread: 90,
                origin: { x: 0, y: 0.9 },
            });
        }

        // race dates
        let raceDates = {{{ raceDate }}};
        function formatTime(days, hours, minutes, seconds) {
            return `${days}d ${hours}h ${minutes}m ${seconds}s`;
        }

        function updateCountdown(countdownDate, container) {
            var intervalId = setInterval(function () {
                let now = new Date().getTime();

                let distance = countdownDate - now;

                let days = Math.floor(distance / (1000 * 60 * 60 * 24));
                let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                let seconds = Math.floor((distance % (1000 * 60)) / 1000);

                container.innerHTML = formatTime(days, hours, minutes, seconds);
                if (distance < 0) {
                    clearInterval(intervalId);
                    container.innerHTML = "";
                }
            }, 1000);
        }

        let countdownContainer = document.getElementById("countdowns");
        raceDates.forEach(dateString => {
            let countdownDate = new Date(dateString);
            let countdownElement = document.createElement('p');
            countdownElement.classList.add('count');
            countdownContainer.appendChild(countdownElement);
            updateCountdown(countdownDate, countdownElement);
        });


        let confettiBtn = document.querySelector(".confetti-btn");
        confettiBtn.addEventListener("click", triggerConfetti);
    </script>
    {{else}}
    <p>You are not currently registered for any races.</p>
    <a href="./home.handlebars" class="register-btn">REGISTER NOW!</a>
    {{/if}}
</div>