<head>
    <link rel="stylesheet" href="/public/home.css" />
</head>
<main id="main" class="flexbox-col">
    <h2>BE RACE DAY READY!</h2>
    <p>Race Day Ready gives runners of any experience level the tools
        and motivation to join the running community. From providing
        details about race opportunities and creating personalized
        training plans to facilitating engagement within the racing
        community, we're here from Day 1 to Race Day!</p>
    <input type="text" class='start-searching' placeholder='START SEARCHING'>
</main>