<head>
    <link rel="stylesheet" href="/public/login.css" />
</head>
<body>
    <nav id="navbar">
        <ul class="navbar-items flexbox-col">
            <li class="navbar-logo ">
                <a class=" flexbox-left" href="/">
                    <span class="logo-text">Login</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left" href="/profile/createProfile">

                    <span class="link-text">Create profile</span>
                </a>
            </li>
        </ul>
    </nav>
</body>