<head>
    <link rel="stylesheet" href="/public/createProfile.css" />
</head>

<h1>Login</h1>
<form method="POST" id='flex_container' class=' flex_container' action="/login">
    <!--Name-->
    <label for="username" class="username">Username:</label>
    <input type="text" name="username" id="username" class="username">
    <label for="password" class="password">Password:</label>
    <input name="password" type="password" id="password" class="password" onmousedown="this.type='text'"
        onmouseup="this.type='password'" onmousemove="this.type='password'">
    <button type="create">Log In</button>
</form>
<a href="/createProfile">Don't have an account click here to create an account </a>
