<div class="container">
    <h1>RACES FOUND</h1>
    <h2>{{search}}</h2>
    <ol>
        {{#each races}}
            <a href="/race/{{_id}}">
                <span>{{raceName}}</span>
            </a><br>
        {{/each}}
    </ol>
    <a href="/">Search for Another Race</a><br>
    <a href="/race/addrace">Can't find your race? Click here to add it.</a>
</div>