<head>
    <link rel="stylesheet" href="/public/settings.css" />
</head>

<body>
    <h1>SETTINGS</h1>
    <label class="toggle">
        <input type="checkbox">
        <span class="flip round"></span>
    </label>

</body>
