<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training Dashboard</title>
    <link rel="stylesheet" href="training.css">
    <link rel="stylesheet" href="../basics.css" />
</head>

<body>
    <nav id="navbar">
        <ul class="navbar-items flexbox-col">
            <li class="navbar-logo ">
                <a class=" flexbox-left" href="../homepage/index.html">
                    <span class="logo-text">RACE DAY READY</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left" href="../homepage/index.html">

                    <span class="link-text">SEARCH</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left" href="../trainingDash/training.html">

                    <span class="link-text">TRAINING</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left" href="../countdown/countdown.html">

                    <span class="link-text">COUNTDOWN</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left" href="../profile/profile.html">

                    <span class="link-text">PROFILE</span>
                </a>
            </li>
            <li class="navbar-item flexbox-left">
                <a class="navbar-item-inner flexbox-left" href="../settings/settings.html">

                    <span class="link-text">SETTINGS</span>
                </a>
            </li>
        </ul>
    </nav>


</body>

</html>